<footer class="footer border-top">
  <div class="footer-container">
    <div class="footer-row d-none d-md-block text-center">
      <span class="me-3">© 2025 | Airbnb Clone Project | Uttaranchal University</span>
      <span>·</span>
      <span>Developed by: <strong>Aadil Gugarman</strong></span>
      <span>·</span>
      <span>Guided by: <strong>Mr. Ramiz Shaikh</strong></span>
    </div>

    <div class="footer-row2 d-flex gap-2 flex-column flex-md-row justify-content-between mt-2">
      <div class="gap-2 d-flex align-items-center">
        <span><i class="fa-light fa-globe"></i> English (IN)</span>
        <span>&#8377 INR</span>
      </div>
      <div class="social-icons d-flex gap-3">
        <i class="fa-brands fa-facebook fa-light"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
    </div>
  </div>
</footer>
