* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  display: flex;
  color: #222222;
  flex-direction: column;
  min-height: 100vh;
  padding: 0rem 2rem;
}

main {
  flex: 1;
}

/* navbar section */
.navbar {
  background-color: #fff;
  height: 5rem;
}

.fa-airbnb {
  font-size: 2rem;
}
.navbar-brand {
  color: #ff5a5f !important;
  font-size: 1.5rem;
}

.navbar-collapse {
  flex-grow: 0 !important;
  display: flex;
  padding: 0 1rem;
  background-color: #fff;
}

 .custom-search {
    border:1px solid #ff5a5f;
    padding-left: 16px;
    padding-right: 16px;
  }

  .custom-search:focus {
    border: 2px solid #ff5a5f !important;
    outline: none !important;
    box-shadow: none !important;
  }

/* home section */
.card {
  border: none;
}

.home-card img {
  object-fit: cover;
  height: 200px;
  border-radius: 0.75rem !important;
}
.card-body {
  padding: 0 !important;
}

.card-body a {
  text-decoration: none;
  color: #222222;
}

.card-text {
  margin: 0;
}

.review-card {
  padding: 0.5rem 0.75rem !important;
}

.add-btn,
.edit-btn,
.dlt-btn {
  background-color: #ff5a5f;
  border: none;
}

/* show-section */
.show-card img {
  object-fit: cover;
  height: 400px;
  border-radius: 1rem;
}


/* footer section */
.footer {
  padding: 1rem 0;
  border-top: 1px solid #ddd;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  background-color: #fff;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-row,
.footer-row2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}


.footer-row {
  justify-content: center;
  text-align: center;
}

.footer-row2 {
  justify-content: space-between;
}

.footer-row a {
  text-decoration: none;
  color: #222222;
}

.footer-row a:hover {
  text-decoration: underline;
}

/* Social icons hover */
.social-icons i {
  cursor: pointer;
  transition: 0.2s ease;
}

.social-icons i:hover {
  opacity: 0.7;
}


@media (min-width: 768px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-row {
    justify-content: center;
  }
}
